@model POS.Domain.Entities.ParentCategory

@{
    ViewBag.Title = "Admin: Edit Parent-Category" + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Parent-Category @Model.Name</h1>
@using (Html.BeginForm("EditParentCategory", "Admin"))
{
    @Html.EditorForModel()
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to the list", "IndexParentCategory")
}
