@using POS.Domain.Model
@using POS.Models
@model IQueryable<Establishment>

@{
    ViewBag.Title = "Home Page";
}

<section class="row">
    <div class="four columns">
        @foreach(Establishment p in Model)
        {
            @Html.Action("_EstablishmentSummary", new { id = p.EstablishmentId });
        }
        </div>
</section>