@using POS.Domain.Entities
@model IQueryable<Establishment>

@{
    ViewBag.Title = "Home Page";
}

<section class="row">
    <div class="four columns">
        @foreach(Establishment p in Model)
        {
            Html.RenderPartial("_EstablishmentSummary", p);
        }
        </div>
</section>