@model POS.Domain.Entities.Category

<div class = "category" id= "@Model.CategoryId">
    <h2>@Model.Name</h2>
    <a href='/get-partial-view'>Get Products from the category: @Model.Name </a>
    <div class="divResult">
    </div>
</div>