@model POS.Domain.Entities.ParentCategory

<div class = "parentCategory" id= "@Model.ParentCategoryId">
    <h1>@Model.Name</h1>
    <a href='/get-partial-view'>Get categories from the parent category: @Model.Name </a>
    <div class="divResult">
    </div>
</div>