@model POS.Domain.Entities.Product
           
<div class = "item">
    <p class="btn tertiary">@Model.Name</p>
    <p>@Model.Description</p>
    @Model.Category.Name
    <h4>@Model.Price.ToString("c")</h4>
</div>

