@using POS.Models
@using Telerik.Web.Mvc.UI
@model IEnumerable<POS.Models.DeeperLookViewModel>
@{
    ViewBag.Title = "Deeper Look";
}

<h2>Deeper Look</h2>
@(Html.Telerik().Grid<DeeperLookViewModel>()
    .Name("Stat")
    .Columns(columns =>
    {
        columns.Bound(o => o.Stat).Width(100);
        columns.Bound(o => o.Average).Width(75);
        columns.Bound(o => o.Median).Width(75);
    })
    .ClientEvents(events => events.OnRowDataBound("hourly_onRowDataBound"))
    .DetailView(details => details.ClientTemplate(
            Html.Telerik().Grid<DeeperLookViewModel>()
                .Name("Stat_<#= DeeperLookViewModelId #>")
                .Columns(columns =>
                {
                    columns.Bound(o => o.Stat).Width(1000);
                    columns.Bound(o => o.Average).Width(75);
                    columns.Bound(o => o.Median).Width(75);
                })
                .ClientEvents(events => events.OnRowDataBound("deeperStats_onRowDataBound"))
                .DetailView(ordersDetailView => ordersDetailView.ClientTemplate(
                    Html.Telerik().Grid<DeeperLookViewModel>()
                        .Name("Stat2_<#= DeeperLookViewModelId #>")
                        .Columns(columns =>
                        {
                            columns.Bound(o2 => o2.Stat).Width(90);
                            columns.Bound(o2 => o2.Average).Width(75);
                            columns.Bound(o2 => o2.Median).Width(75);
                        })
                        .DataBinding(dataBinding => dataBinding.Ajax().Select("_GrossRevHourly", "OrderDetails"))
                        .Pageable()
                        .Sortable()
                        .ToHtmlString()
                    ))
                .DataBinding(dataBinding => dataBinding.Ajax()
                    .Select("_OrdersForEmployeeHierarchyAjax", "Grid", new { employeeID = "<#= EmployeeID #>" }))
                .Pageable()
                .Sortable()
                .Filterable()
                .ToHtmlString()
    ))
        .DataBinding(dataBinding => dataBinding.Ajax().Select("_DeeperLook", "OrderDetails"))
    .Pageable(paging => paging.PageSize(5))
    .Scrollable(scrolling => scrolling.Height(580))
    .Sortable()
    )
      
      
<script type="text/javascript">

    function expandFirstRow(grid, row) {
        if (grid.$rows().index(row) == 0) {
            grid.expandRow(row);
        }
    }

    function hourly_onRowDataBound(e) {
        var grid = $(this).data('tGrid');
        expandFirstRow(grid, e.row);
    }

    function deeperStats_onRowDataBound(e) {
        var grid = $(this).data('tGrid');
        expandFirstRow(grid, e.row);
    }
          
</script> 