@using Telerik.Web.Mvc.UI
@model IEnumerable<POS.Models.MasterViewModel>
@{
    ViewBag.Title = "Master";
}

<h2>FirstLook</h2>
@(Html.Telerik().Grid(Model)
        .Name("Grid")
        .Scrollable(scrolling => scrolling.Height("auto"))
        .Columns(columns =>
        {
            columns.Bound(o => o.OrderId).Width(75);
            columns.Bound(o => o.ProductName).Width(100);
            columns.Bound(o => o.Price).Width(75);
            columns.Bound(o => o.ProductQuantity).Width(75);
            columns.Bound(o => o.EstablishmentName).Width(100);

        })
        .DataBinding(dataBinding => 
        {
            dataBinding.Server().Select("Master", "OrderDetails", new { ajax = ViewData["ajax"] });
            dataBinding.Ajax().Select("_Master", "OrderDetails").Enabled((bool)ViewData["ajax"]);
        })
        .Scrollable(scrolling => scrolling.Enabled((bool)ViewData["scrolling"]))
        .Sortable(sorting => sorting.Enabled((bool)ViewData["sorting"]))
        .Pageable(paging => paging.Enabled((bool)ViewData["paging"]))
        .Filterable(filtering => filtering.Enabled((bool)ViewData["filtering"]))
        .Groupable(grouping => grouping.Enabled((bool)ViewData["grouping"]))
        .Footer((bool)ViewData["showFooter"])
) 